* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-family: Tahoma, sans-serif;
    color:#85a6a6;
}
.gallery {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.gallery img {
    margin: 10px;
}
.gallery img:hover {
    transform: scale(1.2);
}

.photo_container {
    display: none;   
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,.7);
    z-index: 150;
    overflow: auto;
}

.show-full-photo {
    display: block;
} 

#full-photo {
    width: 600px;
    margin: auto;
    display: block;

}
#close-photo {
    position: absolute;
    top: 25px;
    right: 40px;
    color: coral;
    font-size: 50px;
    font-weight: bolder;
}